body {
    font-family: 'Roboto', 'Raleway', sans-serif;
}
h1{
font-weight: 700;
font-weight: 700;
font-size: 56px;
color:#FFFFFF ;
}
h2{
    font-size: 36px;
    font-weight: 700;
    color: #434455;
}
h3{
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}
p{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    margin-right: 1rem;
}
.address {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contact-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-list li {
    margin-left: 1rem;
}
.logo{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo > span{
color: #2E2F42;
}
.main-section{
    display: flex;
    justify-content: center;
    background-color: #2E2F42;
    height: 400px;
}
.button{
    display: flex;
    justify-content: center;  
}
.section-one-button{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.section-one-button:hover{
    font-weight: 500px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}
.section-pros{
    display: flex;
    justify-content: center;
}
.section-pros > h2{
    display: flex;
    justify-content: center;
}
.pros-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}
.about{
    display: flex;
    justify-content: center;
}
.about > h2{
    display: flex;
    justify-content: center;
}
.image-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
}
.our-team{
    display: flex;
    justify-content: center;
    background-color: #F4F4FD;
}
.our-team > h2{
    display: flex;
    justify-content: center;
}
.our-team-images{
    display: flex;
    list-style: none;
    gap: 24px;
}
.image-border{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.our-team-images h3{
    display: flex;
    justify-content: center;
}
.our-team-images p{
display: flex;
justify-content: center;
}
